{% extends "layout.html" %}

{% block content %}
<div class="page-header">
    <h1>IoT Prototype</h1>
    <p class="lead">Basic example.</p>

    {% if error %}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
    </div>
    {% endif %}

    {% if msg %}
    <div class="alert alert-success">
        <strong>Sucesso:</strong> {{ msg }}
    </div>
    {% endif %}

    {% if warning %}
    <div class="alert alert-warning">
        <strong>Aviso:</strong> {{ warning }}
    </div>
    {% endif %}
</div>

<form action="{{ url_for('save') }}" method="post" class="form-inline" >
    <div class="form-group">
        <label>CARD ID:</label>
        <input type="text" name='card_id'/>

        <button class="btn" type="submit">SAVE</button>
    </div>
</form>

<form action="{{ url_for('remove') }}" method="post" class="form-inline">
    <div class="form-group">
        <label>CARD ID:</label>
        <input type="text" name='card_id'/>

        <button class="btn" type="submit">REMOVE</button>
    </div>
</form>

<form action="{{ url_for('validate') }}" method="get" class="form-inline">
    <div class="form-group">
        <label>CARD ID:</label>
        <input type="text" name='card_id'/>

        <button class="btn" type="submit">VALIDATE</button>
    </div>
</form>

<form action="{{ url_for('list') }}" method="get">
    <div class="button">
        <button class="btn" type="submit">LIST CARDS</button>
    </div>
</form>

<form action="{{ url_for('clear') }}" method="post">
    <div class="button">
        <button class="btn" type="submit">CLEAR ALL CARDS</button>
    </div>
</form>


{% if cards %}
    {{ cards }}
{% endif %}

{% endblock %}